@page
@model Lost_Videogames.Pages.MovementModel
@{
ViewData["Title"] = "Movements";
}
<h1>Movements</h1>

@if (Model.errorMessage.Length > 0)@*Verifica se existe mensagem de erro para apresentar ao utilizador*@
{
<div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <strong>@Model.errorMessage</strong>
    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
</div>
}

<div>
<form method="POST">


    <label for="selectgame">Game</label>
    <select class="form-select" id="selectgame" name="selectgame">
        <option value="">Choose Game</option>
        <optgroup label="Game">
            @foreach (var item in Model.Games)
            {
                <option value="@item.id_game">@Html.DisplayFor(modelItem => item.name)</option>
            }
        </optgroup>
    </select>
    <p></p>
    <p></p>
    <label for="selectwarehouse">Warehouse</label>
    <select class="form-select" id="selectwarehouse" name="selectwarehouse">
        <option value="">Choose Warehouse</option>
        <optgroup label="Game">
            @foreach (var item in Model.Warehouses)
            {
                <option value="@item.id_warehouse">@Html.DisplayFor(modelItem => item.location)</option>
            }
        </optgroup>
    </select>
    <p></p>
    <p></p>
    <label for="selectmovement">Movement Type</label>
    <select class="form-select" id="selectmovement" name="selectmovement">
        <option value="">Choose Movement Type</option>
        <optgroup label="Movement Type">
            <option value="in_transit">In Transit</option>
            <option value="add_stock">Add Stock</option>
            <option value="remove_stock">Remove Stock</option>
            <option value="stock_reconciliation">Stock Reconciliation</option>
        </optgroup>
    </select>
    <p></p>
    <p></p>
    <label for="selectdate">Select Date</label>
    <input class="form-control" type="date" id="date" name="date" value="" />
    <p></p>
    <input class="btn btn-primary" type="submit" value="Search" />
    &nbsp;&nbsp;
    <input class="btn btn-primary" type="button" value="Create Movement" onclick="window.location.href='/MovementCreate'" />
</form>
</div>
<p></p>
<p></p>
<table class="table table-striped table-hover" style="user-select:none">
<tr tr class="table-primary">
    <th>Movement ID</th>
    <th>Game ID</th>
    <th>Game Name </th>
    <th>Warehouse ID</th>
    <th>Warehouse Location</th>
    <th>Movement Type</th>
    <th>Quantity</th>
    <th>Movement Date</th>
</tr>

@foreach (var item in Model.Movements)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.id_movement)</td>
        <td>@Html.DisplayFor(modelItem => item.id_game)</td>
        <td>@Html.DisplayFor(modelItem => item.game_name)</td>
        <td>@Html.DisplayFor(modelItem => item.id_warehouse)</td>
        <td>@Html.DisplayFor(modelItem => item.warehouse_location)</td>
        <td>@Html.DisplayFor(modelItem => item.movement_type)</td>
        <td>@Html.DisplayFor(modelItem => item.quantity)</td>
        <td>@Html.DisplayFor(modelItem => item.movement_date)</td>
    </tr>
}
</table>


